﻿<template>
	<div>
		<h1>Bills</h1>
		<div class="col-md-12">
			<div class="row">
				<div class="flex-item">
					<form class="col-md-6">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-md-2">Date</label>
								<div class="col-md-1">
									<datepicker :value="BillDate" style=" display:inline-block"></datepicker>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2">Amount</label>
								<div class="col-md-4">
									<input type="text" class="form-control" :value="Amount" />
								</div>
								<select class="form-control inline-select" v-model="CurrenciesSelect.SelectedValue">
									<option :value="currency.Value" v-for="currency in CurrenciesSelect.ComboboxSource">{{ currency.Text }}</option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2">Category</label>
								<div class="col-md-10">
									<select class="form-control inline-select" v-model="CategoriesSelect.SelectedValue">
										<option :value="category.Value" v-for="category in CategoriesSelect.ComboboxSource">{{ category.Text }}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2">Description</label>
								<div class="col-md-8">
									<textarea class="form-control inline-textarea" :value="Description"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script src="./bills.ts"></script>